{% extends 'base.html' %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" name="name" placeholder="Movie Name">
    <input type="text" name="desc" placeholder="Description">
    <input type="text" name="Year" placeholder="year">
    <input type="file" name="image" >
    <input type="submit">
</form>
{% endblock %}
</body>
</html>