
{% extends 'base.html' %}
{% block body %}




<div class="container" style="padding-top:70px;">
    <div class="row" style="column-gap: 40px;">
        {% for i in movie_list %}
        <div class="col-md-3">
            <div class="card" style="width: 18rem; display: flex; align-items: stretch;">
  <img class="card-img-top" src="{{i.img.url}}" alt="Card image cap"  height="250px" >
  <div class="card-body">
    <h5 class="card-title">{{i.name}}</h5>
    <p class="card-text">{{i.desc}}</p>
    <a href="{% url 'movieapp:detail' i.id %}" class="btn btn-primary">More Details...</a>
  </div>
</div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}